{% load static %} {% load i18n %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}API Book{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.css' %}" /> {% block stylesheet %}{% endblock %}
    <script src="{% static 'jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.1-dist/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <div class="sticky-top navbar-dark bg-dark">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-2">
                    <a class="navbar-brand" href="/">API Book</a>
                </div>
                <div class="col-md-4">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <a class="navbar-brand float-right ml-md-4" href="/user/123">w.del@qq.com</a>

                    <div class="nav-item dropdown float-right">
                        <a class="btn btn-light  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            {% trans 'Create' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">{% trans 'New Group' %}</a>
                            <a class="dropdown-item" href="#">{% trans 'New Project' %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://github.com/DeronW/apibook/issues">{% trans 'New Feedback' %}</a>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    {% block body %}
    {% block content %} {% endblock %} {% endblock %}
</body>

</html>