 {% extends "projects/base.html" %} {% load static %} {% load i18n %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'projects/css/index.css' %}" /> {% endblock %} {% block content %}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans 'My Groups' %}</th>
                        <th scope="col">{% trans 'My Projects' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="table">
                                {% for group in groups %}
                                <tr>
                                    <td>{{ group.name }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td>
                            <table class="table">
                                {% for project in projects %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th colspan="2">{% trans 'Public Groups' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <th>
                            <a href="/projects/group/">{{ group.name }}</a>
                        </th>
                        <td>{{ group.describe }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            <table class="table">
                <thead class="thead-light">
                    <tr>
                            <th colspan="2">{% trans 'Public Projects' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <th>
                            <a href="/projects/group/">{{ group.name }}</a>
                        </th>
                        <td>{{ group.describe }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">

            <ul class="list-group">
                <li class="list-group-item">FAQ
                </li>
                <li class="list-group-item">
                    <a href="#">Concept</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Permission</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Example</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Feedback</a>
                </li>
            </ul>

        </div>
    </div>
</div>


{% endblock %}