 {% extends "projects/base.html" %} {% load static %} {% load i18n %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'projects/css/index.css' %}" /> {% endblock %} {% block content %}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans 'Group' %}</th>
                        <th scope="col">{% trans 'Describe' %}</th>
                        <th scope="col">{% trans 'Project Count' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <th>
                            <a href="/projects/group/">{{ group.name }}</a></th>
                        <td>{{ group.describe }}</td>
                        <td>official</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans 'Project' %}</th>
                        <th scope="col">{% trans 'Describe' %}</th>
                        <th scope="col">{% trans 'API Count' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <th>{{ project.name }}</th>
                        <td>{{ project.describe }}</td>
                        <td>20</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">

            <ul class="list-group">
                <li class="list-group-item">FAQ
                </li>
                <li class="list-group-item">
                    <a href="#">Concept</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Permission</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Example</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Feedback</a>
                </li>
            </ul>

        </div>
    </div>
</div>


{% endblock %}