 {% extends "projects/base.html" %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'projects/css/index.css' %}" /> {% endblock %} {% block body %}

<div class="content">
    
</div>
<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>

{% endblock %}